/* src/pages/Home.module.css */

/* 淡入淡出切换动画 */
@keyframes fadeTransitionAnimation {
  0% {
    opacity: var(--home-bg-opacity);
  }
  100% {
    opacity: 0;
  }
}

/* 渐显动画 */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--home-bg-opacity);
  }
}

.fadeTransition {
  animation: fadeTransitionAnimation 3s ease-in-out forwards;
}

.fadeIn {
  animation: fadeInAnimation 3s ease-in-out forwards;
}