/* src/features/concerts/ui/FanInteractions.module.css */
.marqueeContainer {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}

.marquee {
  display: flex;
  align-items: center;
  height: 100%;
}

@keyframes wallSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marqueeContent {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
  flex: 1 0 auto;
  animation: wallSlide linear infinite;
}

.marqueeContent.fast {
  animation-duration: 50s;
}

.marqueeContent.slow {
  animation-duration: 70s;
}

.marqueeContent.reverse {
  animation-direction: reverse;
}

.marquee:hover .marqueeContent {
  animation-play-state: paused;
}

.card {
  flex-shrink: 0;
}